database:
  # How the plugins data is stored
  # Available Options:
  #  - sqlite (will create a file named 'ajtags.db' containing data, no remote database needed)
  #  - mysql (will require a remote database connection)
  #  - mariadb (will require a remote database connection)
  type: sqlite

  ## These credentials can be ignored if using Sqlite, but are necessary for other persistence options ##

  # The host of the database (ie 127.0.0.1 or localhost)
  host: localhost
  # The port of the database (ie 3306)
  port: 3306
  # The database to store data in
  database: minecraft
  # The username of the database (NOTE: it is not recommended to use root!)
  username: root
  # The password of the database (leave empty if no password, but this is not recommended)
  password: ''
  # The prefix for any SQL table
  table-prefix: 'ajtags_'

# Configure all chat messages sent by the plugin. & colors are accepted.
# Set a value to '' to make it blank. All messages may be single strings:
# help: "this is a string"
# or they may also be lists
# help:
#   - "This is a"
#   - "List"
messages:
  ###
  # Admin Messages
  ###

  # No permission
  no-permission: "&cYou do not have permission to do that"

  # The help message for the admin /ajtags command
  admin-help:
    - "&f&n&m===== &aAJTags Admin Help &f&n&m====="
    - ""
    - " &a- &f/ajtags help &a- &fShows this message"
    - " &a- &f/ajtags createtag <name> <display> &a- &fCreates a tag"
    - " &a- &f/ajtags deletetag <name> &a- &fDeletes a tag"
    - " &a- &f/ajtags modifytag <name> <new display> &a- &fModifies a tag's display"
    - " &a- &f/ajtags settag <player> <tag name> &a- &fSets a player's tag"
    - " &a- &f/ajtags removetag <player> &a- &fRemoves a player's tag"
    - "&f&n&m============="

  admin-tag-created: "&aTag with name &f{0} &aand display {1} &ahas been created" # Will replace {0} with the tag name and {1} with the tag display
  admin-tag-deleted: "&aTag with name &f{0} &ahas been deleted" # Will replace {0} with the tag name
  admin-tag-set: "&aPlayer &f{0} &ais now using tag &a{1}" # Will replace {0} with the player name and {1} with the tag name
  admin-tag-removed: "&aPlayer &f{0} &ais no longer using a tag" # Will replace {0} with the player name

  admin-tag-already-exists: "&aA tag with the name &f{0} &aalready exists"
  admin-tag-modified: "&aTag with name &f{0} &anow has the display &f{1}"
  admin-player-not-found: "&aPlayer &f{0} &acould not be found"

  tags-help:
    - "&f---- &aTags Help &f----"
    - ""
    - " &a- &f/tag(s) &a- &fOpens the tags menu"
    - " &a- &f/tag(s) menu &a- &fOpens the tags menu"
    - " &a- &f/tag(s) help &a- &fShows this message"
    - " &a- &f/tag(s) equip <tag name> &a- &fEquip a tag"
    - " &a- &f/tag(s) unequip &a- &fUnequip your tag"
    - "&f&n&m============="

  tag-doesnt-exist: "&aA tag with the name &f{0} &adoesn't exist"
  menu-open: "&aOpening tags menu..."
  tag-equipped: "&aYou are now using the {0} &atag" # Will replace {0} with the tag display
  tag-unequipped: "&aYou are no longer using a tag"